.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
  width:  80px;
  background-image: url("./logo.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: center;
  background-position-y: center;
  border-radius: 40px;
  border: 1px solid white;
  background-color: white;
}

.app-header {
  background-color: grey;
  height: 120px;
  padding: 20px;
  color: #222;
  text-align: center;
}

.title{
  color: white;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 500px) {
  .user-list { display: none; }
}

form {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
